<h1>Mario's Specialty Food Products</h1>

<h2>Our Products</h2>
<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<%= will_paginate @post,renderer: BootstrapPagination::Rails %>
<p><%= link_to "Create new product", new_product_path %></p>
<p><%= link_to "Return to homepage", home_path %></p>