<div class="jumbotron">
  <div class="container">
    <h1>Mario's Specialty Food Products</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Our Products</h2>

      <% if @products.any? %>
        <ul>
          <% @products.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>There are no products yet.</p>
      <% end %>
    </div>
    <div class="col-lg-6">
    <%= will_paginate @products,renderer: BootstrapPagination::Rails %>
    <% if is_admin? %>
      <p><%= link_to "Create new product", new_product_path, class: "btn btn-default" %></p>
    <% end %>
    <p><%= link_to "Return to homepage", home_path, class: "btn btn-default" %></p>  
    </div>
  </div>
</div>
